/* Configurações específicas para a página de cuidados */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}
@media (max-width: 600px) {
    main {
        padding: 15px;
    }
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto; /* Centraliza a container */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 20px;
}

/* Lista de cuidados */
ul {
    font-size: 0.9em;
    padding: 0 30px;
}

li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

section {
    margin-bottom: 20px;
}
section h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}