<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnóstico de Pneumonia</title>
    <link rel="stylesheet" href="/static/css/diagnostic.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="logo">Início</a>
            <div class="navbar-links">
                <a href="/care">Cuidados</a>
                <a href="/diagnostic">Diagnóstico</a>
                <a href="/login">Login</a>
                <a href="/signup">Cadastro</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Diagnóstico de Pneumonia</h1>
        <form id="upload-form" onsubmit="submitForm(event)">
            <input type="file" id="file" name="file" accept="image/*">
            <img id="image-preview" src="#" alt="Pré-visualização da imagem">
            <button type="submit">Enviar para Diagnóstico</button>
            <div class="loading-bar-container">
                <div class="loading-bar"></div>
            </div>
        </form>
        <div id="result" class="result"></div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
