<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagnóstico de Pneumonia</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/mission.css">
</head>

<header>
  <nav class="navbar">
    <a href="/" class="logo">Início</a>
    <div class="navbar-links">
      <a href="/care">Cuidados</a>
      <a href="/diagnostic">Diagnóstico</a>
      <a href="/login">Login</a>
      <a href="/signup">Cadastro</a>
    </div>
  </nav>
</header>
<body>

  <div class="container">
    <h1>Bem-vindo ao Diagnóstico de Pneumonia</h1>
    <p>Faça o <strong>upload</strong> de uma imagem para verificar a presença de pneumonia.</p>

    <h1 style="padding-top: 90px;">Quem somos?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat accusamus vitae vero beatae asperiores harum quisquam voluptatibus. In accusamus, nobis voluptatem dolorum deserunt reiciendis dolor culpa, sed sit, pariatur numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam exercitationem eligendi, mollitia numquam laudantium delectus perspiciatis architecto ab labore inventore quaerat nisi voluptates, beatae dolorum provident consequatur sequi suscipit accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ab fugiat corrupti aliquid modi repellat voluptatum, optio possimus exercitationem quos tempore ea alias vero sunt ducimus dignissimos quasi facilis laudantium!</p>
  </div>

  <!-- Seção Missão, Visão e Valores -->
  <section class="mission-section">
    <h2>Missão, Visão e Valores</h2>
    <div class="cards">
      <div class="card" data-animate="fade-in">
        <img src="/static/icons/mission.png" alt="Missão">
        <h3>Missão</h3>
        <p>Utilizar a tecnologia para oferecer diagnósticos rápidos e precisos, promovendo saúde e bem-estar.</p>
      </div>
      <div class="card" data-animate="fade-in">
        <img src="/static/icons/vision.png" alt="Visão">
        <h3>Visão</h3>
        <p>Ser referência global em inteligência artificial para a área da saúde.</p>
      </div>
      <div class="card" data-animate="fade-in">
        <img src="/static/icons/values.png" alt="Valores">
        <h3>Valores</h3>
        <p>Inovação, ética, compromisso com a saúde e acessibilidade para todos.</p>
      </div>
    </div>
  </section>

  <script src="/static/js/script.js"></script>
  <script src="/static/js/index.js"></script>
</body>

</html>